<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>667984515244-d4t8l6b8o2n6i6fdehafsne1k3keu8jh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.667984515244-d4t8l6b8o2n6i6fdehafsne1k3keu8jh</string>
	<key>API_KEY</key>
	<string>AIzaSyBQKHlKSmLK-RtS7sEChhjsgvfKFRI_eQQ</string>
	<key>GCM_SENDER_ID</key>
	<string>667984515244</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Monash.Assignment2New</string>
	<key>PROJECT_ID</key>
	<string>fit5140-assignment2-5141b</string>
	<key>STORAGE_BUCKET</key>
	<string>fit5140-assignment2-5141b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:667984515244:ios:b6523c769751680d</string>
	<key>DATABASE_URL</key>
	<string>https://fit5140-assignment2-5141b.firebaseio.com</string>
</dict>
</plist>